* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  width: 100%;
  min-height: 15vh;
  display: flex; 
  align-items: center; /* center items */
  justify-content: center;
  gap: 250px;
}

.header-photo {
  width: 200px;
  filter: drop-shadow(0 0 40px rgb(255, 255, 255));
}

ul.options {
  padding-left: 100px;
}

ul li {
  color: #ffffff;
  list-style: none;
  display: inline-block; /* puts items beside each other */
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 20px;
}

.body1 {
  background-color: #fff;
  width: 100%;
  min-height: 75vh;
  display: flex; /* Use flexbox to easily center/control image placement */
}

.body1 img {
  width: 100%;
  object-fit: cover;
}

.phrase1 {
  color: #E69720;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.phrase2 {
  color: #E69720;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.image-container {
  color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.image1 {
  background-color: #E69720;
  padding: 20px;
  height: 400px;
}

.image2 {
  background-color: rebeccapurple;
  padding: 20px;
  height: 400px
}

.body2 {
  background-color: rgb(36, 36, 36);
  width: 100%;
  min-height: 150vh;
}

.footer {
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  width: 100%;
  min-height: 20vh;
  text-align: center;
  display: flex; /* puts items beside each other */
  align-items: center; /* center items */
  justify-content: space-around; /* makes space for all items */
}