* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  width: 100%;
  min-height: 15vh;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 250px;
}

.header-photo {
  width: 30vh;
  margin-right: 50vh;
  filter: drop-shadow(0 0 40px rgb(255, 255, 255));
}

ul li {
  color: #ffffff;
  list-style: none;
  display: inline-block; /* puts items beside each other */
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 2vh;
  margin: 25px;
}

.body1 {
  background-color: #fff;
  width: 100%;
  min-height: 75vh;
  display: flex; /* Use flexbox to easily center/control image placement */
}

.body1 img {
  width: 100%;
  object-fit: cover;
}

.phrase1 {
  color: #E69720;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(0 0 50px rgb(255, 255, 255));
}

.phrase2 {
  color: #E69720;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  filter: drop-shadow(0 0 50px rgb(255, 255, 255));
}

.image-container {
  color: #fff;
  padding: 3vh;
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-bottom: 50px;
}

.image1, .image2 {
  background-color: #E69720;
  width: 30vh;
  height: 45vh;
  overflow: hidden;
}

.image1 img, .image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.body2 {
  background-color: rgb(36, 36, 36);
  width: 100%;
  min-height: 150vh;
}

.about {
  padding-left: 35vh;
  padding-right: 35vh;
}

.mid-image {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 50px;
}

.mid-image-class {
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 75px;
  filter: drop-shadow(0 0 100px rgb(255, 255, 255));
}

.about-text-title, .about-text-story,
.about-text-easy, .about-text-mission, .about-text-next {
  color: #E69720;
  text-align: center;
}

.about-text {
  color: #E69720;
  font-size: 15px;
  letter-spacing: 0.25px;
  line-height: 22.5px;
}

.about-text-title {
  font-size: x-large;
  padding-bottom: 2vh;
}

.about-text-title-2 {
  color: #E69720;
  padding-bottom: 3vh;
  line-height: 25px;
  font-size: x-large;
}

.about-text-story, .about-text-easy, .about-text-mission,
.about-text-next {
  padding-bottom: 10px;
}

.about-text-p1 {
  color: #E69720;
  padding-bottom: 3vh;
  line-height: 4vh;
  text-align: justify;
  font-size: 3vh;
}

.about-text-p2, .about-text-p3,
.about-text-p4, .about-text-p5 {
  color: #E69720;
  padding-bottom: 5vh;
  line-height: 4vh;
  text-align: justify;
  font-size: 3vh;
}

.footer {
  background-color: rgb(36, 36, 36);
  color: #ffffff;
  width: 100%;
  min-height: 20vh;
  text-align: center;
  display: flex; /* puts items beside each other */
  align-items: center; /* center items */
  justify-content: space-around; /* makes space for all items */
}